.dayTitle
{
	font-size : 12px;
	font-weight : bold;
	color : #979797;
}

.task
{
	font-size : 12px;
	color : #b0b0b0; /* system : #979797 */
}

.multipleDayTask
{
	font-size : 12px;
	color : #5e5e5e;
}

.mainBox
{
	min-width: 350px;
}
